@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 94%;
    --foreground: 224 71% 4%;

    --card: 48 33% 98%;
    --card-foreground: 224 71% 4%;

    --popover: 48 33% 98%;
    --popover-foreground: 224 71% 4%;

    --primary: 175 41% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 28% 92%;
    --secondary-foreground: 224 71% 4%;

    --muted: 215 20% 85%;
    --muted-foreground: 224 71% 10%;

    --accent: 215 20% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 20% 85%;
    --input: 215 28% 96%;
    --ring: 175 41% 40%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;

    --card: 224 71% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 174 72% 56%;
    --primary-foreground: 224 71% 4%;

    --secondary: 215 28% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 215 28% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 215 28% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 28% 15%;
    --input: 215 28% 15%;
    --ring: 174 72% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
